#hex {
    background: #D9304F;
    background: #F27830;
    background: #F26938;
    background: #F2E4DF;
    background: #D93B3B;
}

#rgb {
background: rgb(217, 48, 79);
background: rgb(242, 120, 48);
background: rgb(242, 105, 56);
background: rgb(242, 228, 223);
background: rgb(217, 59, 59);
}